<!DOCTYPE html>
<html>
    <head>
        <title>Webplatform</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
       <div class="jumbotron">
         <h2>Aadhaar image based E-Id</h2>
         <form action = "{{url_for('op')}}" method = "POST" enctype = "multipart/form-data" id='form'>
             <select  name='option'>
                <p>select option:</p>
                <option value="e" >Encod Image</option>
                <option value="d" >Decod Image</option>
             </select >
             <button type = "submit" class="btn btn-primary btn-lg">Submit</button> 
          </form>
       </div>


          {% if flag==1 %}
          <div class="jumbotron">
             <form class="form-group" action = "{{url_for('enc')}}" method = "POST">
                 <label for="inptxt">Inputdata</label>
                 <textarea class="form-control" id="inptxt" name="inptxt" rows="4" cols="50">
                   </textarea>
                   <br>
                   <button type = "submit" class="btn btn-primary btn-lg">Submit</button> 
                 </form>
         </div>
 
         
             {% if img != 0 %}
             <div  class="jumbotron">
             <div id=img1>
                <p>Original Image</p>
                <img src="{{ url_for('static', filename='gray.png') }}"  height="30%">
             </div>
    
             <div id='img2'>      
                <p>Encoded Image</p>
                <img src="{{ url_for('static', filename='enimg.png') }}" height="30%">
                <a class="btn btn-danger btn-lg" href="{{ url_for('static', filename='enimg.tiff') }}">Download Encoded Image</a>
             </div>
             
             {% endif %}
          </div>
          {% endif %}
 
          {% if flag==2 %}
          <div class="jumbotron">
            <form action = "{{url_for('dei')}}" method = "POST" enctype = "multipart/form-data" id='form'>
               <p class='fi'>Supported format: .tiff</p>
               <input type = "file" name = "file" class='fi'/>
               <button type = "submit" class="btn btn-warning btn-lg">Submit</button> 
            </form>
   
            {% if img != 0 %}
              <p>encoded image</p>
            <img src="{{ url_for('static', filename='enimg.png') }}" height="30%">
               <h2 class="well">{{data}}</h2>
            {% endif %}
          </div>
          
          {% endif %}
     

        
    </body>
</html>
